:root{
    --primary-color: #fcfbf8;
    --secondary-color: #000;
    --gap: 3rem;

}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-size: 62.5%;
}

/* 
    font-family: 'DM Sans', sans-serif;
    font-family: 'Inter', sans-serif;
*/

body {
    font-family: 'DM Sans', sans-serif;
    font-size: 6rem;
    color: var(--primary-color);
}  

h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter', sans-serif;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
}

h2 {
    font-size: 5.5rem;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 4.5rem;
}

h5 {
    font-size: 4rem;
} 

h6 {
    font-size: 3.5rem;
}

body.light-theme {
    background-color: #fcfbf8;
    color: #000;
    
}

body.dark-theme {
    background-color: #000;
    color: #fcfbf8;
}

.main-bg {
    background-size: cover;
    background-position: center center;
 
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: var(--gap);
}

 #name {
    text-transform: uppercase;
    text-align: center;
 }

 #job {
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    font-size: medium;
}

img {
    position: relative;
    bottom: 0;
    width: 100%;
}

#Foto {
    border-radius: 50%;
    width: 215px;
    height: 215px;
    overflow: hidden;
    position: relative;
    margin: 0px auto;
}

#about {
    text-align: left;
    line-height: 2.1;
    font-size: 18px;
}

.personalcard {
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height: 100%;
    align-items: center;
}

.cardfoto {
    width: 50%;
    max-height: 100%;
}

.cardabout {
    width: 50%;
    max-height: 100%;
}

.carddetails {
    width: 50%;
    max-height: 100%;
}

.dtitulos {
    font-weight: 700;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.dparagrafo {
    font-weight: 400;
    font-size: 18px;
}

img.icons-light {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    margin-top: 20px;
}

img.icons-dark {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    margin-top: 20px;
    filter: invert(100%);
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 100%;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 36px;
    width: 36px;
    left: 0px;
    bottom: 4px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: 0 0px 11px #2020203d;
    background: white url('../img/moon.png');
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
  }

  input:checked + .slider {
    background-color:#fcfbf8;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
    background: white url('../img/sun_o.png');
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }